@model tabletop.ViewModels.HomeViewModel

@{
    ViewBag.Canonical = @Url.Action("Index", "Home", new { name = @Model.NameUrlSafe, date = @Model.RelativeDate });
    ViewBag.GreenOrRed = (Model.IsFree) ? "green" : "red";
    ViewBag.GreenOrBlank = (Model.IsFree) ? "green" : "blank";
    ViewBag.RedOrBlank = (Model.IsFree) ? "blank" : "red";
    ViewBag.FreeOrInUse = (Model.IsFree) ? "free" : "in use";
    ViewBag.Title = @ViewBag.FreeOrInUse + " - " + @Model.Name + " (live) - tabletop";
    ViewBag.Favicon = (Model.IsFree) ? "favicon_free.png" : "favicon_inuse.png";
}

<nav class="primary_nav_wrap">
    <div class="logo"><a href="@Url.Action("Index","Home")"> <span>Tabletop</span> Home </a></div>

    <div id="prevnext">
        <a class="prev" asp-controller="Home" asp-action="Index" asp-route-name="@Model.NameUrlSafe" asp-route-date="@Model.Yesterday">&lt;</a>
        @if (Model.RelativeDate != 0)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-name="@Model.NameUrlSafe" asp-route-date="@Model.Tomorrow">&gt;</a>
        }
    </div>
    <ul>
        <li>
            <a href="#">Channels Menu</a>
            <ul>
                @foreach (var item in Model.List)
                {
                    if (@item.NameUrlSafe == @Model.NameUrlSafe && @item.IsVisible && @item.IsAccessible)
                    {
                        <li class="current-menu-item"><a href="@Url.Action("Index", "Home", new {name = @item.NameUrlSafe, date = @Model.Today})"> @item.Name </a></li>
                    }

                    if (@item.NameUrlSafe != @Model.NameUrlSafe && @item.IsVisible && @item.IsAccessible)
                    {
                        <li><a href="@Url.Action("Index", "Home", new {name = @item.NameUrlSafe, date = @Model.Today})"> @item.Name </a></li>
                    }
                }

                @*https://codepen.io/philhoyt/pen/ujHzd*@

            </ul>
        </li>

    </ul>
</nav>

<div class="header">
    @* ReSharper disable once UnknownCssClass *@
    <div class="panel panel-ai-indicator">
        @* ReSharper disable once UnknownCssClass *@
        <div id="online-indicator" class="circle circle-big circle-@ViewBag.GreenOrBlank"></div>
        @* ReSharper disable once UnknownCssClass *@
        <div id="offline-indicator" class="circle circle-big circle-@ViewBag.RedOrBlank"></div>
        <div id="status" class="indicator-text"> @ViewBag.FreeOrInUse</div>
    </div>
    <div>
        <h1 id="name">Live - @Model.Name</h1>
        <h2 id="latestactivity"> Latest activity on location <span>@Model.IsFreeLatestAmsterdamDateTime</span>  </h2>
        <div class="ai-line"></div>
    </div>
</div>
<div id="preloader"></div>
<noscript><div class="noscript-warning"></div></noscript>
<div class="tooltip"></div>

<div class="databox @ViewBag.GreenOrRed">
    @* ReSharper disable once UnknownCssClass *@
    <svg id="data" class="border-@ViewBag.GreenOrRed">
        <g class="bars"></g>
    </svg>
</div>



<script type="text/javascript">
    window.updateIsFreeEnv = {
        "url": document.location.protocol + "//" + document.location.host + "@Url.Content("~/")" + "datahub",
        "latestactivity": "@Model.IsFreeLatestUtc",
        "IsFree": @Model.IsFree.ToString().ToLower(), 
        "name": "@Model.NameId"
    };
    window.drawEnv = {
        "url": "@Url.Action("EventsRecent", "Api", new { name = @Model.NameUrlSafe })",
        "updateInterval": 90000,
        "name": "@Model.Name",
        "relativeDate": @Model.RelativeDate
    };

</script>


<script type="text/javascript" src="@Url.Content("~/")js/vendor/d3.v4.min.js"></script>
<script type="text/javascript" src="@Url.Content("~/")js/vendor/signalr.js"></script>
<script type="text/javascript" src="@Url.Content("~/")js/draw.js"></script>
<script type="text/javascript" src="@Url.Content("~/")js/updateisfree-signalr.js"></script>
<script type="text/javascript" src="@Url.Content("~/")js/join-signalr.js"></script>
<script type="text/javascript" src="@Url.Content("~/")js/screensaver.js"></script>

<!-- Google Analytics. -->
<script type="text/javascript">
    @*ReSharper disable UnusedParameter*@
    (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
        e=o.createElement(i);r=o.getElementsByTagName(i)[0];
        e.src='https://www.google-analytics.com/analytics.js';
        r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
    ga('create','UA-37345867-1','auto');ga('send','pageview',{ 'page': '/special/tabletop/?name=@Model.NameUrlSafe&date=@Model.RelativeDate' });
</script>
<!-- end Google Analytics. -->
