<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <link rel="shortcut icon" type="image/png" id="dynamic-favicon" href="@Url.Content("~/")img/@ViewBag.Favicon" sizes="32x32" />
    @Html.Partial("_Favicons")
    <meta name="viewport" content="width=device-width" />
    <link rel="canonical" href="@ViewBag.Canonical" />

    @RenderSection("head", required: false)
    <link rel="stylesheet" href="@Url.Content("~/")css/styles-v2.css">

</head>

<body>

    @RenderBody()

</body>
</html>
